<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
	
		<listener class-name="com.amazon.utilities.ITestListenerPage"/>
		<listener class-name="com.amazon.utilities.ExtentReporterNG"/>
	</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="testLayer.ProductSearchTest"/>
      <class name="testLayer.SignInTest"/>
      <class name="testLayer.homeTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
